<br>
<form id = "long" method = "post" action = "/tedious2">
All right.  Question number one of thirty: If you had to break out of prison, would you prefer a sledgehammer and try to get the job done quickly with great fury and lamentation, or a chisel and try to take apart the wall with great finesse? <br> 
Sledgehammer or chisel?"<br>
<input id = "q2" type = "radio" name = "a" />Sledgehammer<br>
<input id = "q2" type = "radio" name = "b" />Chisel<br>
<input id = "button" type = "submit" name = "submit" value = "ROCK!" />
</form>
