So you want to be a rock star!?  This simple program will help you look good and 
get the gear you need to play well.
Simply answer three music questions.  You will follow in the footsteps of such greats as
Cher, Randy Quaid and the Jonas Brothers. <br>Would you like to take the short version or the tedious version of the GearFinder?
<div id = "main">
<form id = "cowdrop" method = "post" action = "/cowdrop" >
<input id = "radio" type = "radio" name = "q1"/>short <br>
<input id = "radio" type = "radio" name = "q2"/>tedious <br>
<input id = "button" type = "submit" name = "button" value = "submit" />
</form>
