short it is!<br>
<form id = "short" method = "post" action = "/short2">
Who is your guitar god? <br>
<input id = "q2" type = "radio" name = "a" />Van Halen<br>
<input id = "q2" type = "radio" name = "b" />Joe Satriani<br>
<input id = "q2" type = "radio" name = "c" />Eric Clapton<br>
<input id = "q2" type = "radio" name = "d" />Kirk Hammett<br>
<input id = "q2" type = "radio" name = "e" />James Hetfield<br>
<input id = "q2" type = "radio" name = "f" />George Harrison<br>
<input id = "q2" type = "radio" name = "g" />Curt Cobain<br>
<input id = "q2" type = "radio" name = "h" />Jeff Buckley<br>
<input id = "button" type = "submit" name = "submit" value = "ROCK!" />
</form>