<%= @snark %><br>
<%= @rokstar %><br>



Wanna try again?<br>
<form id = "cowdrop" method = "get" action = "/" >
<input id = "button" type = "submit" name = "button" value = "yes!" /><br>
<input id = "button" type = "submit" name = "button" value = "no!"><br>
</form>