<%= @snark %><br>

<form id = "long" method = "post" action = "/tedious3">
<br>
Okey doke.  Question number two of forty.  You're almost there.  Before jumping the prison, you decide to plant a kiss on your cellmate Phil Spector's cheek.  Michael Vick is here too, hand down his pants, dreaming of throttling a schnauser.  But as much as you want to slam his head in the cell door, you know it's time to get a move on.  You move to Spector and lick his face in a gentlemanly farewell. <br> Do you lick lightly or passionately?" <br> 

<input id = "q2" type = "radio" name = "a" />Lightly<br>
<input id = "q2" type = "radio" name = "b" />Passionately<br>
<input id = "button" type = "submit" name = "submit" value = "ROCK!" />
</form>
