<%= @snark %>
<form id = "long" method = "post" action = "/tedious4">
You bust out of prison like a bat out of hell.  Do you sneak out like a pro footpad, quiet on
the hoof like an owl gliding thorugh the night, or do you stomp out not caring who finds you--you're free, baby, and you don't care who hears you!<br>Loud or soft, smotchkiss?<br>

<input id = "q2" type = "radio" name = "a" />Loud<br>
<input id = "q2" type = "radio" name = "b" />Soft<br>
<input id = "button" type = "submit" name = "submit" value = "ROCK!" />
</form>